* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nxthead {
    background-color: black;
}

.nxthead a {
    color: white;
}

.logo {
    width: 15%;
}

.logof {
    width: 55%;
}

.fa-bars {
    display: none;
}


.section2 .container2 .details .video {
    width: 550px;
    height: 60vh;


}

.section2 .container2 .details .video iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s5 {
    margin-bottom: 100px;
}



@media screen and (max-width:600px) {



    .section2 {
        background-color: #FFF3E8;
        padding: 30px 5vw;
        margin: 0;
    }

    .section2 .container2 .details .video {
        width: 391px;
        height: 28vh;

    }

    .fa-bars {
        display: block;
        position: absolute;
        font-size: 32px;

    }


}