@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bungee+Outline&family=Fugaz+One&family=Kavoon&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Russo+One&display=swap');


:root {
    --upper-case: uppercase;
    --capitalize-case: capitalize;
    --button-color: rgb(12, 11, 11);
    --red--color: rgb(255, 0, 85);
    --orange-color: #e88f2a;
    --chocolate-color: #19161e;
    --black--color: #202124;
    --gray-color: rgb(93, 93, 93);
    --yellow-color: #fff3e8;

    --poppins-Text: "Poppins", sans-serif;


}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nxthead {
    background-color: black;
}

.logo {
    width: 15%;
}

.logof {
    width: 55%;
}

.nxthead a {
    color: white;
}

.container2 {
    overflow: visible;
    /* border: black solid; */
    padding: 0 0 20px 0;
    background-color: rgb(255, 248, 219);
    border-radius: 0px;
    border-radius: 30px;

}

.container4 .first {

    position: sticky;


    width: 100%;
    background-color: #fff8db;
}

.container4 .first .types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0 20px;

}

.container4 .first .types h1 {

    font-size: 2.5rem;
}





.second {
    /* border: black solid; */


}

.filter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    height: 15vh;
    z-index: 0;

}

#more {
    display: none;
}

.filter .fa-angle-up {
    color: rgb(255 255 255);
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
}

.filter .fa-angle-down {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 25px;
    width: fit-content;
    height: fit-content;



}

.filter i {
    display: none;
}

.filter label i {
    color: rgb(0, 0, 0);
}

.filter .menulist {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;


    /* justify-content: space-around; */
    /* border: black solid; */
    /* outline: 1px solid rgb(255, 255, 255); */
    outline-offset: 5px;


}

.filter .menulist .bo-x {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    background-color: rgb(255 255 255 / 32%);
    padding: 10px;
    transition: .2s ease;
    border-radius: 20px;
}

.filter .menulist .box:hover {
    background-color: black;
    box-shadow: 0px 0px 5px 2px black;
    transform: scale(1.2);

}

.filter .menulist .box:hover a {
    color: white;
}

.filter .menulist a {
    color: #ffffff;
    font-size: 1vw;
    font-weight: 500;
    font-family: var(--poppins-Text);
}






@media screen and (max-width:600px) {
    .filter .menulist {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        outline-offset: 5px;
        box-shadow: none;
        padding: 17px;
        display: none;
    }





    .filter .menulist a {
        color: #000000;
        font-size: 16px;
    }


    .filter {
        display: flex;
        justify-content: center;
        align-items: center;


        backdrop-filter: blur(5px);
        height: fit-content;

    }

    .filter i {
        display: flex;
    }

    .filter .fa-angle-up {
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        left: 45%;
        font-size: 25px;
        width: fit-content;
        height: fit-content;
        display: none;


    }

    .container2 {
        display: block;
        overflow: visible;
    }

    .container2 .first {
        width: 100%;
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: rgb(255, 248, 219);
    }






    /* .filter input:checked~.menulist{
        display: none;
    }

     .filter input:checked .fa-angle-up{
        display: none;
     } */


    .container4 .second {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .container4 .second .types {
        position: relative;

        box-shadow: 0px 4px 10px 1px black;
        border-radius: 0px 0px 40px 40px;

        display: flex;
        flex-direction: column;
        width: 28vw;
    }


    .container4 .second .types .name {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;


        padding: 20px 5px;
        /* border: red solid; */
        background-color: white;
    }




    .types .name .flavour {
        font-size: .8rem;
        background-color: rgb(255, 255, 255);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -12%;
        left: 50%;
        transform: translate(-50%, 5%);
        padding: 5px;
        box-shadow: 0px 0px 5px black;
        width: fit-content;
        transition: .3s linear;
    }


    .footer-for-category {
        margin-top: 100px;
    }



}