@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bungee+Outline&family=Fugaz+One&family=Kavoon&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Russo+One&display=swap');




:root {
    --upper-case: uppercase;
    --capitalize-case: capitalize;
    --button-color: rgb(12, 11, 11);
    --red--color: rgb(255, 0, 85);
    --orange-color: #e88f2a;
    --chocolate-color: #19161e;
    --black--color: #202124;
    --gray-color: rgb(93, 93, 93);
    --yellow-color: #fff3e8;

    --poppins-Text: "Poppins", sans-serif;


}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nxthead {
    background-color: black;
}

.nxthead a {
    color: white;
}

.logo {
    width: 15%;
}

.logof {
    width: 55%;
}



.fa-bars {
    display: none;
}

.location {
    /* border: black solid; */
    background-color: #ffe9c1;

}

.location .container1 {
    /* border: black solid; */
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.location .container1 .scroll {
    position: relative;
    /* border: red solid; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 900px;
    height: 600px;
    height: 200px;
    transition: .3s linear;

}



.location .container1 .scroller h2,
h4 {
    text-align: center;
}

.location .container1 .scroller h4 {
    font-size: 20px;
}

.location .container1 .scroller {


    /* z-index: 1; */
    position: absolute;
    background-color: rgb(28 28 33);
    color: white;
    width: 100%;
    transition: .3s ease-in-out;
}

.location .container1 .scroller1 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    border-radius: 30px 30px 0 0;
    height: 10vh;

}

.location .container1 .scroller2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -10px;
    padding: 10px 0;
    border-radius: 0 0 30px 30px;
    height: 22vh;

}

.location .container1 .scroll .expand{
    position: absolute;
      bottom: 0;
}

.location .container1 .scroll .expand i{
    color: white;
    font-size: 1.6rem;
  
}




.location .container1 .scroll:hover {
    height: 570px;
}

.location .container1 .scroll:hover .scroller {
    height: 3vh;
}

.location .container1 .scroll:hover .scroller2 {
    border-radius: 30px;
}

.location .container1 .scroll:hover .scroller1 {
    border-radius: 30px;
}

.location .container1 .scroll:hover .scroller h4 {
    display: none;
}

.location .container1 .scroll:hover .scroller h2 {
    display: none;
}

.location .container1 .scroll:hover .expand{
    display: none;
}


iframe {
    width: 96%;
    height: 100%;
    box-shadow: 0px 0px 10px 1px black;
}


/*------------------container2-----------------*/


.address .container2 {
    border-bottom: 1.5px rgb(0, 0, 0) solid;
    padding: 50px 0;
    display: flex;

    flex-direction: row;
    justify-content: space-between;

}

.container2 .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: red solid; */
    width: 500px;
}

.container2 .box .san {
    font-size: 1.4vw;
    font-weight: 600;
}

.container2 .box .four {
    display: flex;
    gap: 20px;
    font-family: var(--poppins-Text);
}

.container2 .box .four .ad-res {
    font-size: 1vw;
    font-family: var(--poppins-Text);
}

.container2 .box .four i {
    font-size: 20px;
}




/*-------------------contact Us________________-*/

.contactus {
    padding: 50px 8vw;
}

.contactus .container {

    display: flex;
    gap: 20px;
}

.contactus .container .boxes {

    display: flex;
    flex-direction: column;
}

.contactus .container .b1 {
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.contactus .container .b1 .timing {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.contactus .container .boxes h2 {
    color: black;
    font-size: 2rem;
}

.contactus .container .boxes .timing h4 {
    color: black;
}

.contactus .container .b1 .img {
    width: 90px;
    width: 90px;
}

.contactus .container .b1 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactus .container .b2 {
    padding: 0 20px;
    display: flex;
    flex: 0 0 70%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.contactus .container .b2 .inputs1 {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.contactus .container .b2 .inputs {
    width: 100%;
}

.contactus .container .b2 .inputs1 input {
    flex: 0 0 48%;
    height: 6vh;
    padding: 0 20px;
    background-color: rgb(230, 230, 230);
    border: 1px solid gray;
}

.contactus .container .b2 .inputs1 input:focus {
    outline: none;
}

.contactus .container .b2 .inputs .message {
    display: flex;
    padding: 0 20px;
    width: 100%;
    height: 25vh;
    background-color: rgb(230, 230, 230);
    border: 1px solid gray;
}

.contactus .container .b2 .inputs .message:focus {
    outline: none;
}

.contactus .container .b2 .inputs button {
    width: 20%;
    height: 6vh;
    color: white;
    background-color: var(--button-color);
    font-size: 1rem;
}






@media screen and (min-width:601px) and (max-width:770px) {



    .location .container1 .scroller2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: -10px;
        padding: 10px 0;
        border-radius: 0 0 30px 30px;
        height: 31vh;
    }

    .container2 .box .four .ad-res {
        font-size: 1.7vw;
    }

    .container2 .box .san {
        font-size: 2.6vw;
        font-weight: 600;
    }

    .sectionfor_contact .container6 .pic {
        padding: 20px;
        /* border: red solid; */
        box-shadow: 0px 0px 10px 1px black;
        width: 100%;
        transform: translateX(0%);
        animation: picc ease;
        animation-timeline: view();
        animation-range: entry 0% 50vh;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactus .pic .box1 h6 {
        font-size: 2.5vw;
        text-align: center;
    }

    .contactus .pic .box1 h1 {
        text-align: center;
    }

    .sectionfor_contact .container6 .contact {
        width: 100%;
        transform: scale(1);
        transform: translateX(0%);
        border-radius: 20px;
        animation: extract ease;
        animation-timeline: view();
        animation-range: entry 0% 50vh;
    }

    .address .container2 {
    border-bottom: 1.5px rgb(0, 0, 0) solid;
    padding: 50px 0;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* flex-direction: row; */
    gap: 13px;
    justify-content: space-between;
}

.contactus .container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}



}


@media screen and (max-width:600px) {




    section {
        position: relative;
        width: 100%;
        padding: 15px 5vw;
        overflow: hidden;
        /* border: red solid; */
        margin-top: 0px;
    }


    .fa-bars {
        display: block;
        position: absolute;
        font-size: 32px;

    }


    .location .container1 .scroll {
        position: relative;
        /* border: red solid; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 27vh;

        transition: .3s linear;
    }

    .location .container1 .scroller2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: -10px;
        padding: 10px 0;
        border-radius: 0 0 30px 30px;
        height: 22vh;
    }

    .location .container1 .scroller h4 {
        font-size: 14px;
    }




    .address .container2 {

        border: none;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-between;
    }

    .container2 .box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* border: red solid; */
        width: fit-content;
        border-bottom: 1px solid;
    }


    .container2 .box .four .ad-res {
        font-size: 4vw;
        display: flex;
        align-items: center;
    }

    .container2 .box .san {
        font-size: 6.4vw;
        font-weight: 600;
    }




    /*----------------contactus--------------------*/

   .contactus .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactus .container .b2 {
    width: 100%;
    padding: 0;
    display: flex;
    /* flex: 0 0 63%; */
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.contactus .container .b2 .inputs1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-between; */
    width: 100%;
}

.contactus .container .b2 .inputs1 input {
    flex: none;
    height: 8vh;
    padding: 0 20px;
    background-color: rgb(230, 230, 230);
    border: 1px solid gray;
}

.contactus .container .b2 .inputs button {
    width: 44%;
    height: 6vh;
    color: white;
    background-color: var(--button-color);
    font-size: 1rem;
}


}